.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0 12% 5%;
}

.welcomeMessage {
  margin: 5%;
  text-align: center;
}

.welcomeMessage h1 {
  font-size: 30px;
}

.tableContainer {
  align-self: center;
  width: 100%;
  margin-bottom: 10%;
}

.searchBar {
  width: 40%;
}

.addUserButton {
  margin-top: 2%;
}

.formContainer {
  padding: 15px;
}

::-webkit-scrollbar {
  display: none;
}

.inputsContainer {
  display: flex;
  gap: 20px;
  align-self: center;
  width: 100%;
  height: 40px;
}

.buttonsContainer {
  display: flex;
  justify-content: space-around;
}

.noList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noList span {
  margin: 5%;
  font-weight: 500;
}
