.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0 12% 5%;
}

.welcomeMessage {
  margin-top: 5%;
}

.welcomeMessage h1 {
  font-size: 30px;
  font-weight: 500;
}

.welcomeMessage p {
  font-weight: 200;
}

.topTableContainer {
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}

.tableContainer {
  align-self: center;
  width: 100%;
  margin-bottom: 10%;
}

.tableContainer td,
.tableContainer th {
  text-align: left;
}

.searchBar {
  width: 100%;
}

.filterButtons > button {
  padding: 2px 8px;
}

.filterButtonsPressed > button {
  padding: 2px 8px;
}

.filterButtons {
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px rgb(0 0 0 / 14%),
    0 1px 5px rgb(0 0 0 / 12%);
}

.filterButtonsPressed {
  border-radius: 4px;
}

.filterDropdown {
  display: flex;
  align-items: center;
  height: 28px;
  font-size: 14px;
  font-weight: 500;
  color: #373867;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px rgb(0 0 0 / 14%),
    0 1px 5px rgb(0 0 0 / 12%);
}

.filterDropdown:focus-visible {
  outline: none;
}

.addUserButton {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.addUserButton > button {
  background-color: #4f987b;
}

.addUserButton > button:hover {
  background-color: #478c71;
}

.inputsContainer {
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 600px;
  height: 350px;
}

.formContainer {
  display: flex;
  flex-direction: row;
}

::-webkit-scrollbar {
  display: none;
}

.buttonsContainer {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  padding: 0 20px 20px;
}

.noList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3%;
  margin-left: 20%;
  font-weight: 500;
}

.noListTitle {
  font-size: 28px;
}

.noListMessage {
  margin-top: 20px;
  font-size: 18px;
  font-style: italic;
  font-weight: 100;
}

.searchInput {
  width: 50%;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border: none;
}

input:focus {
  outline: none;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}

.notFound {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.notFoundTitle {
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
}

.checkboxInput {
  display: flex;
  gap: 14px;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.option {
  font-weight: 500;
  color: #373867;
}

.leftInputsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px;
  margin-left: 20px;
}

.rightInputsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px;
  margin-right: 20px;
}

.addUserMessage {
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 1px #d7d7d7 solid;
}
