.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - (110px));
  text-align: center;
}

.textContainer span {
  font-size: 24px;
  font-weight: 500;
}

.textContainer p {
  margin: 22px 0;
  font-size: 14px;
  color: rgb(0 0 0 / 60%);
}

.buttonContainer > button {
  background-color: #4f987b;
}

.buttonContainer > button:hover {
  background-color: #478c71;
}
