header {
  color: #ffffff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 1% 5%;
  background-color: #373867;
}

.navbarContainer {
  font-size: 1rem;
  font-weight: bold;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout span {
  margin-right: 5px;
}

.brand span:first-child {
  margin-right: 5px;
  font-weight: bold;
}
