header {
  color: #ffffff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 18px 50px;
  margin-bottom: 40px;
  background-color: #373867;
}

.navbarContainer {
  font-size: 1rem;
  font-weight: bold;
}

.logout {
  display: flex;
  justify-content: flex-end;
  width: 115px;
}

.probando {
  width: 106px;
  cursor: pointer;
}

.logout span {
  margin-right: 5px;
}

.bran :first-child {
  margin-right: 25px;
}

.brand :nth-child(2) {
  margin-right: 5px;
  font-weight: bold;
}

.brand {
  display: flex;
  align-items: center;

  /* width: 166px; */
}
