/* stylelint-disable-next-line import-notation */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

.containerPage {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 95%;
}

.container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  margin-top: 1%;
  margin-bottom: 1.7%;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.welcomeMessageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 8px;
  font-size: 24px;
  font-weight: 500;
}

.welcomeMessage {
  margin-left: 18px;
}

.todayDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95px;
  margin-top: 20px;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 500;
}

.filterContainer {
  display: flex;
  flex-direction: row;
  margin-left: 18px;
}

.checkboxInput {
  display: flex;
  gap: 14px;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.filterButtons > button {
  padding: 2px 8px;
}

.filterButtonsPressed > button {
  padding: 2px 8px;
}

.filterButtons {
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px rgb(0 0 0 / 14%),
    0 1px 5px rgb(0 0 0 / 12%);
}

.filterButtonsPressed {
  border-radius: 4px;
}

.filterDropdown {
  display: flex;
  align-items: center;
  height: 28.5px;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: Roboto;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.75;
  color: #373867;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px rgb(0 0 0 / 14%),
    0 1px 5px rgb(0 0 0 / 12%);
}

.filterDropdown:focus-visible {
  outline: none;
}

.option {
  font-weight: 500;
  color: #373867;
}
