.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 52px 20px;
}

.welcomeMessage {
  display: flex;
  justify-content: space-between;
  padding-bottom: 21px;
  margin-top: 5%;
  font-size: 30px;
  font-weight: 500;
  border-bottom: 1px solid #e2e2e2;
}

.iconGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70px;
}

.iconContainer {
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
  width: 100%;
  margin-top: 20px;
}

.messageContainer {
  margin-bottom: 30px;
}
