.welcomeMessage {
  margin: 5%;
  text-align: center;
}

.welcomeMessage h1 {
  font-size: 30px;
}

.tableContainer {
  align-self: center;
  width: 70%;
  margin-bottom: 10%;
}

.addUserButton {
  margin-top: 2%;
}

.formContainer {
  padding: 15px;
}

::-webkit-scrollbar {
  display: none;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 330px;
  padding: 20px;
}

.buttonsContainer {
  display: flex;
  justify-content: space-around;
}

.searchInputContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 65%;
  padding: 2px;
  margin-bottom: 20px;
  border: 1px solid #000000;
}

.searchInput {
  width: 50%;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border: none;
}

input:focus {
  outline: none;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
