@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap';

.welcomeMessage {
  display: flex;
  justify-content: flex-start;
  margin: 69px 0 34px;
}

.welcomeMessage h1 {
  font-size: 24px;
  font-weight: 500;
}

.tableContainer {
  align-self: center;
  width: 70%;
  margin-bottom: 10%;
}

.addUserButton {
  margin-top: 2%;
}

.formContainer {
  padding: 15px;
}

::-webkit-scrollbar {
  display: none;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 330px;
  padding: 20px;
}

.buttonsContainer {
  display: flex;
  justify-content: space-around;
}

.searchInputContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 65%;
  height: 38px;
  padding: 2px;
  margin-bottom: 34px;
  border: 1px solid rgb(55 56 103 / 40%);
  border-radius: 5px;
}

.searchInput {
  width: 50%;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border: none;
}

input:focus {
  outline: none;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}
