.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  margin-top: 5%;
}

.container p {
  margin-bottom: 0;
  color: #00000099;
}

.returnButton {
  margin-top: 2.5%;
}
