.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 330px;
  padding: 20px;
}

.buttonsContainer {
  display: flex;
  justify-content: space-around;
}
