.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.inputsContainer {
  width: 330px;
}

.buttonsContainer {
  display: flex;
  justify-content: space-around;
}
